    <main style="height: 60vh;">
      <hr>
        <div class="container">
            
                <h1 class="login">Login</h1>
          
        <form class="form-login">
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="email" class="form-control col-6" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">Never share your account with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control col-6" id="exampleInputPassword1">
            </div>
            
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
    </main>
